<div class="card white">
  <div class="card-content">
    <div class="row main">

      <form class="col 12">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">star</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Nueva tarea</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s8">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" rows="8" cols="80"></textarea>
            <label for="icon_prefix2">Descripción de la tarea...</label>
          </div>

          <div class="input-field col s4">
            <i class="material-icons prefix">today</i>
            <input id="icon_prefix3" class="datepicker" type="text">
            <label for="icon_prefix3">Fecha...</label>
          </div>
        </div>

        <div class="row">
          <div class="col s11">
            <a class="btn-floating btn-large waves-effect green right"><i class="material-icons">check</i></a>
          </div>
          <div class="col s1">
            <a class="btn-floating btn-large waves-effect red right"><i class="material-icons">close</i></a>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
